<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBillingService" />
                <binding name="BasicHttpBinding_IAuthenticator" />
                <binding name="BasicHttpBinding_IStatistic" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/AuthenticatorService/AuthenticatorService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuthenticator"
                contract="IAuthenticator" name="BasicHttpBinding_IAuthenticator" />
            <endpoint address="http://localhost/BillingService/BillingService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBillingService"
                contract="IBillingService" name="BasicHttpBinding_IBillingService" />
            <endpoint address="http://localhost/StatisticService/StatisticService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStatistic"
                contract="IStatistic" name="BasicHttpBinding_IStatistic" />
        </client>
    </system.serviceModel>
</configuration>